body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Battlefield {
  background-color: #222222;
  width: 100%;
  height: 400px;
}
.Battlefield-area {
  display: flex;
}

.Card {
  color: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 10px;
  margin: 20px;
  width: 130px;
  background-color: green;
  height: 200px;
}

.Stats {
  display: flex;
  flex-flow: row nowrap;   
  justify-content: space-between;
}

.Hand {
  display: flex;
}

.Game {
  background-color: #555555;
  width: 100%;
  height: 100%;
}